html, body {
	height: 100%;
	background-color: #569F39;
	animation: change-bg 3s alternate infinite;
}

.enigma {
	width: 20px;
	height: 50px;
	background: #7CB833;
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	padding: 10px 30px 14px;
	position: fixed;
	top: 0;
	border: 1px solid #0ead13;
	border-radius: 50%;
	box-shadow: 0 0 30px #eb1c2a;
	animation: bump 2s alternate infinite,
			   appear 2s alternate forwards,
			   bubbly 5s 3s alternate infinite;

	transition: all 2s ease-out;
}

@keyframes bump {
  0% { box-shadow: 0 0 30px #2a4d1c; }
  50% { box-shadow: 0 0 80px #569F39; }
  100% { box-shadow: 0 0 30px #2a4d1c; }
}

@keyframes appear {
  0% { transform: scale(0,0); }
  100% { transform: scale(100%, 100%); }
}

@keyframes bubbly {
  0% { transform: scale(100%, 100%); }
  100% { transform: scale(50%, 50%); }
}

@keyframes move {
  0% { }
  100% { }
}

@keyframes change-bg {
  0% { background-color: #569F39; }
  100% { background-color: #2a4d1c; }
}